#skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    box-sizing: border-box;
    padding:  10px;
    text-align: center;
    margin: 10px;
    width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-titles {
    font-size: 34px;
    color: #080808;
    margin: 20px 50% 10px;
    background: linear-gradient(120deg, #13344b, #8f39ac, rgb(92, 246, 8));;
    background-clip: text;
    color: transparent;
}

.skilltitle {
    margin: 10px 0 0;
    font-size: 17px;
    color: #080101;
    font-weight: bold;
}
#conttitle {
    background: linear-gradient(90deg, #138af3, #f903d8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    transition: color .3s ease-in-out;
    letter-spacing: 2px;
    font-size: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}
@media only screen and (min-width: 768px) {
    .skill {
        width: calc(25% - 20px);
    }
}